<section class="hero is-link is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path, class: 'navbar-item' do %>
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="20" width="20" fill="#fff">
              <g>
                <path d="m7.905233,1.487743c-0.397441,0 -0.719676,0.476297 -0.719676,1.064945l0,5.324725l-0.719676,0l0,-5.324725c0,-0.588648 -0.322235,-1.064945 -0.719676,-1.064945s-0.719676,0.476297 -0.719676,1.064945l0,5.324725l-0.719676,0l0,-5.324725c0,-0.588648 -0.322235,-1.064945 -0.719676,-1.064945s-0.719676,0.476297 -0.719676,1.064945l0,6.38967c0,0.588648 0.322235,1.064945 0.719676,1.064945l1.439351,0l0,7.454615c0,0.588648 0.322235,1.064945 0.719676,1.064945s0.719676,-0.476297 0.719676,-1.064945l0,-7.454615l1.439351,0c0.397441,0 0.719676,-0.476297 0.719676,-1.064945l0,-6.38967c0,-0.588648 -0.322235,-1.064945 -0.719676,-1.064945z" />
                <path d="m13.727674,1.744861c-1.303527,0 -2.360348,1.414886 -2.360348,3.161095c0,1.374747 0.658857,2.532366 1.573565,2.967643l0,9.676738c0,0.582432 0.352257,1.053698 0.786783,1.053698c0.434501,0 0.786783,-0.471267 0.786783,-1.053698l0,-9.676738c0.914684,-0.435276 1.573565,-1.592896 1.573565,-2.967643c0,-1.746209 -1.056846,-3.161095 -2.360348,-3.161095z" />
              </g>
            </svg>
            <span class="has-text-weight-bold is-size-4 ml-4">Foodlog</span>
          <% end %>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <%= link_to 'Create new entry', new_entry_path, class: 'button is-success' %>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <% if content_for(:title) %>
            <%= yield :title %>
        <% else %>
            Foodlog
        <% end %>
      </h1>
    </div>
  </div>
</section>